* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a {
    text-decoration: none; 
    /* color: inherit; */
}

body {
    padding: 0;
    margin: 0;
    /* height: 1000px; */
    /* background-color: red; */
}

.news-details {
    position: relative;
}

.title {
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

.content1 {
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    margin-inline-start: auto;
    margin-inline-end: auto;
}

