* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #333;
    /* height: 100%; */
}

a {
    text-decoration: none; 
    color: inherit;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* header */
.header {
    position: relative;
    width: 100%;
    height: 400px;
    /* padding-top: 19.2%; */
    /* background: url('../img/R-C.jpg') center bottom no-repeat; */
    /* background-size: cover; */
    /* background-size: cover; */
}

/* 轮播图 */
.list {
    width: 100%;
    height: 400px;
    position: relative;
    padding-left: 0px;
}

.item {
    width: 100%;
    height: 100%;
    list-style: none;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: all 2s;
}

.item > img {
    width: 100%;
    height: 100%;
}

.item.active {
    z-index: 10;
    opacity: 1;
}

.pointList {
    list-style: none;
    padding-left: 0px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    z-index: 200;
}

.point {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 100%;
    float: left;
    margin-right: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: slategray;
    cursor: pointer;
}

.point.active {
    background-color: cadetblue;
}

.bc {
    width: 100%;
    height: 100%;
}

/* .menu-btn {
    display: none;
} */

/* 头部导航planA */
/* .nav-top {
    background-image: linear-gradient(180deg, #6588c8, #2858b1);
    border-top: 1px solid #9db3dc;
    border-bottom: 1px solid #6386c7;    
    height: 45px;
}

.nav-top-list {
    display: flex;
    justify-content: center;
}

.nav-top-list > li {
    align-self: center;
    color: #eee;
    padding-left: 30px;
    line-height: 40px;
    font-size: 16px;
} */

/* 头部导航planB */
div, img, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, p {
    padding: 0;
    margin: 0;
    border: 0;
}

.nav-pc {
    background-image: linear-gradient(180deg, #6588c8, #2858b1);
    border-top: 1px solid #9db3dc;
    border-bottom: 1px solid #6386c7;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-list > li {
    display: block;
    padding: 0.5em 1em;
    font-size: 14px;
    line-height: 2;
    color: #fff;
}

@media screen and (max-width: 967px){
    .nav-pc {
        display: none;
    }
}

/* 主体 */
.container {
    padding: 30px 0;
    /* min-height: 100%; */
    min-height: 500px;
    /* padding: 30px; */
    /* position: relative; */
    /* height: 100%; */
    /* height: 1000px; */
    /* display: flex; */
    /* background-color: #6386c7; */
    /* overflow: auto; */
}

.container > .w1400 {
    display: flex;
}

.w1400 {
    position: relative;
    width: 94%;
    margin: 0 auto;
    height: 100%;
    max-width: 1400px;
    /* background-color: #fff; */
    /* background-color: red; */
}

@media screen and (max-width: 767px){
    .con-l {
        display: none;
    }
}

/* 左侧导航 */
/* .container > .w1400 > .con-l {
    flex: 0 0 25%;
    margin-right: 30px;
} */

.con-l {
    flex: 0 0 25%;
    margin-right: 30px;
}

.nav-left {
    /* flex: 0 0 25%; */
    /* margin-right: 30px; */
    /* 还有待考虑 */
    /* position: absolute; */
    /* position: relative; */
    /* width: 400px; */
    /* height: 200px; */
    /* top: 500px; */
    /* display: none; */
    /* background-image: linear-gradient(180deg, #6588c8, #2858b1); */
    /* border-top: 1px solid #9db3dc; */
    /* border-bottom: 1px solid #6386c7; */
}

.nav-left-list {
    /* background-color: yellow; */
    /* line-height: 48px; */
    /* display: inline-block; */
    /* vertical-align: top; */
}

.nav-left-list > li {
    /* position: relative; */
    /* display: inline-block; */
    /* display: block; */
    /* vertical-align: top; */
    /* line-height: 48px; */
    margin-top: 35px;
    /* margin-left: 20px; */
    /* left: 20px; */
    /* top: 10px; */
    color: #2858b1;
    font-size: 16px;
    font-weight: bold;
}

.nav-left-list > li:first-child {
    /* display: none; */
    margin-top: 10px;
}

/* 有待更改 希望后面能加个箭头*/
li:hover {
    text-decoration: none;
    color: #00aae3;
    cursor: pointer;
}


/* .nav-left-list > li:hover {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #2858b1;
} */

/* .container > .w1400 > .con-2 {
    flex: 1;
    overflow: hidden;
    background-color: green;
} */

.right-content {
    flex: 1;
    overflow: hidden;
    /* height: 500px; */
    /* position: absolute; */
    /* position: relative; */
    /* width: 100%; */
    /* width: 80%; */
    /* max-width: 1024px; */
    /* height: 100%; */
    /* top: 20px; */
    /* margin-top: 20px; */
    /* margin-left: 50px; */
    /* left: 320px; */
    /* width: 600px; */
    /* height: 1000px; */
    /* background-color: red; */
    /* overflow: hidden; */
    /* overflow: auto; */
}

.content {
    /* flex: 1;
    overflow: hidden; */
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* position: relative; */
    /* position: absolute; */
    width: 100%;
    /* height: 100%; */
    /* background-color: pink; */
    /* 最好能动态获取高度，呜呜 */
    /* height: 500px; */
}

/* 底部 */
@media screen and (max-width: 767px){
    .footer {
        padding: 15px, 0;
    }
}

.footer {
    padding: 30px 0;
    background: #1e50ae;
}

.w1024 {
    position: relative;
    width: 94%;
    margin: 0 auto;
    height: 100%;
    max-width: 1024px;
}

.links {
    position: relative;
    padding: 0 0 10px 6em;
    border-bottom: 1px solid #6285c6;
}

.links::before {
    content: "相关链接:";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
}

.links > a:first-child {
    padding-left: 0;
}

@media screen and (max-width: 767px){
    .hvr-float > a {
        padding: 0 15px 0 0;
        margin-bottom: 5px;
        font-size: 12px;
    }
}

.hvr-float > a {
    display: inline-block;
    padding: 0 10px;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    transition: 0.3s;
}

/* 底部链接float */
.hvr-float {
    /* padding: 0 10px;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    transition: 0.3s; */
    display: inline-block;
    /* vertical-align: middle; */
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  

.info {
    max-width: 900px;
    margin-top: 15px;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
}


