<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../css/common.css">
    
</head>
<body>
    <div class="news-details">
        <div class="title">the 4th National Conference on Time Series Analysis</div>
        <div class="content1">
            <p style="line-height: 1.75em;"><br></p>
            <!-- 这个不知道干啥的 -->
            <p style="line-height: 1.75em;">
                <span style="line-height: 116%; font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;"></span>
            </p>
            <p style="line-height: 1.75em;">
                <span style="font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;">
                    <!-- <span style="font-size: 20px; line-height: 116%;">
                        The 2024 ICSA China Conference will be held at Wuhan, Hubei, China from June 28 – June30, 2024. It will be co-sponsored by Zhongnan University of Economics and Law (ZUEL). The theme of this conference is "Innovation in Data and Statistical Science: Theory, Methodology, and Practice". The conference venue is Wuhan East Lake Hotel. 
                        <span style="font-size: 20px; line-height: 116%; background: white;">The hotel information can be found at</span>
                    </span>
                    <span style="font-size: 20px; background: white; line-height: 116%;">
                        <a href="#" target="_blank">http://xixihaha.bababa.cn</a>&nbsp;
                    </span>
                    <span style="font-style: 20px; line-height: 116%;">
                        For more information, please contact the Scientific Program Committee Chair, Professor Xinping Cui at
                    </span>
                    <span style="font-size: 20px; background: white; line-height: 116%; color: rgb(17, 85, 204);">xpcui@urc.edu</span>
                    <span style="font-size: 20px; background: white; line-height: 116%; color: rgb(34, 34, 34);">.</span> -->
                    <span style="font-size: 20px; line-height: 116%;">
                        Time series analysis, a key component of data science, plays an important role in fields such as signal processing, economics, climate change, environmental science and financial risk management. Its importance is even greater in the context of big data and machine learning. Recognising its pivotal role in China's development of science and technology, Professors Wang Shou-ren, An Hong-zhi and Chen Zhao-Guo, together with other distinguished statisticians of their generation, inaugurated the first National Conference on Time Series Analysis in Beijing in 1984, with Professor Howell Tong as overseas advisor.  The conference was very successful, attracting nearly two hundred participants from all over China and several leading time series analysts, including Professors Emanual Parzen, George Tiao, Maurice Priestley, Ritei Shibata and Yosihiko Ogata.
                    </span>
                    <p><br></p>
                    <span style="font-size: 20px; line-height: 116%; font-family: Georgia, 'Times New Roman', Times, serif;">
                        Continuing this academic legacy, we are pleased to announce the 4th National Conference on Time Series Analysis to be held in Guilin from 1-7 July 2024.
                    </span>
                    <p><br></p>
                    <span style="font-size: 20px; line-height: 116%; font-family: Georgia, 'Times New Roman', Times, serif;">
                        This event will bring together distinguished experts to foster and accelerate the development of new analytical frameworks and methodologies, tailored to the complexity of big data in time series analysis. The conference aims to deepen our understanding of current challenges and stimulate innovative research. Last but not least, we would also like to take this opportunity to pay a special tribute to Professor Howell Tong (汤家豪), who will be speaking at the workshop, in recognition of his pioneering work in nonlinear time series analysis and his remarkable efforts and achievements in mentoring numerous world-class statisticians in China and around the world, some of whom will also be speaking at the conference. 
                    </span>
                    <span style="font-size: 20px; line-height: 116%;">&nbsp;&nbsp;</span>
                </span>
            </p>
            <p style="text-align: center; line-height: 1.5em;"><br></p>
            <p style="text-align: center; line-height: 1.5em;">
                <img src="../../img/2.png" alt="背景图像" width="974" height="382" style="width: 974px; height: 382px; max-width: 100%;">
            </p>
            <p style="line-height: 1.5em;"><br></p>

            <!-- 人物介绍 -->
            <p style="text-align: center; line-height: 1.5em;">
                <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 24px;">
                    <strong>Plenary Speaker</strong>
                </span>
            </p>
            <p style="line-height: 1.5em;"><br></p>
            <table align="center">
                <tr class="firstRow">
                    <td>
                        <p style="text-align: center;">
                            <img src="../../img/people.png" alt="人像" style="width: 300px;height: 297px; max-width: 100%;">
                        </p>
                    </td>
                    <td>
                        <p style="text-align: center;">
                            <img src="../../img/people.png" alt="人像" style="width: 300px; height: 297px; max-width: 100%;">
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="word-break: break-all;" width="318" valign="middle" align="center">
                        <p>
                            <strong>
                                <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px;">to be added</span>
                            </strong>
                        </p>
                        <p>
                            <strong>
                                <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px;">to be added</span>
                            </strong>
                        </p>
                    </td>
                    <td style="word-break: break-all;" width="318" valign="middle" align="center">
                        <p>
                            <strong>
                                <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px; text-align: center; text-wrap: wrap">to be added</span>
                            </strong>
                        </p>
                        <p style="text-wrap:wrap">
                            <strong>
                                <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px; text-wrap: wrap; box-sizing: border-box; text-align: justify; text-indent: 37px;">to be added</span>
                            </strong>
                        </p>
                    </td>
                </tr>
            </table>
            <p style="line-height: 1.5em;"><br></p>

            <p style="text-align: center; line-height: 1.5em;">
                <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 24px;">
                    <strong>Banquet Speaker</strong>
                </span>
            </p>
            <p style="line-height: 1.5em;"><br></p>

            <table align="center">
                <tbody>
                    <tr>
                        <td width="501" valign="middle" align="center">
                            <img src="../../img/Howell Tong.png" alt="人像" style="width: 300px; height: 297px; max-width: 100%;">
                        </td>
                    </tr>
                    <tr>
                        <td width="501" valign="top" style="word-break: break-all;">
                            <p style="text-align: center;">
                                <strong>
                                    <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px;">Howell Tong (汤家豪)</span>
                                </strong>
                            </p>
                            <p style="text-wrap:wrap; text-align: center;">
                                <strong>
                                    <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px; text-wrap: wrap; box-sizing: border-box; text-align: justify; text-indent: 37px;">to be added</span>
                                </strong>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p style="line-height: 1.5em;"><br></p>
            <p style="line-height: 1.5em;"><br></p>
            <div style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 24px;">
                <strong>Call for Junior Researcher Award:</strong>
            </div>
            <div style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 24px; line-height: 40px;">
                <strong>暂定</strong>
            </div>
            <p style="line-height: 1.5em;"><br></p>
            <p style="line-height: 1.5em;"><br></p>

            <p>Invitation letter:</p>
            <p style="line-height: 16px;">
                <img src="https://xkw.zuel.edu.cn/editor/dialogs/attachment/fileTypeImages/icon_pdf.gif" alt="pdf图标" style="vertical-align: middle; margin-right: 20px; display: inline-block;">
                <a href="../../pdf/1.pdf" title="一个神秘的pdf" style="font-size: 12px; color: #0066cc;">一个神秘的pdf.pdf</a>
            </p>
        </div>
    </div>
    <!-- 发送页面大小 -->
    <script>
        const body = document.body;
        const observer = new MutationObserver(mutationsList => {
            const currentHight = window.getComputedStyle(body, null).height;
            console.log(currentHight)
            top.postMessage(currentHight, "*");
        });

        observer.observe(body, {
            attributes: true,
            childList: true,
            subtree: true
        });

        // const random = (min, max) =>
        //     Math.floor(Math.random() * (max - min + 1)) + min;
        // setInterval(() => {
        //     body.setAttribute("style", `height:${random(100, 500)}px`);
        // }, 2000);
    </script>
</body>
</html>