<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KeynoteSpeakers</title>
    <link rel="stylesheet" href="../../css/common.css">
</head>
<body>
    <div class="news-details">
        <div class="title">Plenary Speaker</div>
        <div class="content1">
            <p><br></p>
            <p style="text-align: center;">
                <img src="../../img/people.png" alt="人像" style="width: 300px; height: 297px;">
            </p>
            <p style="text-align: center;">
                <strong>
                    <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px;">tba</span>
                </strong>
                <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px;">,&nbsp;Hogwarts School of Witchcraft and Wizardry</span>
            </p>
            <p><br></p>
            <p style="line-height: 1.75em; margin-bottom: 10px;">
                <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px;">
                    Gryffindor, courage is supreme, our dean, can become a cat!
                    <br>
                </span>
            </p>
            <p style="line-height: 1.75em; margin-bottom: 10px;">
                <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px;">
                    Gryffindor, courage is supreme, our dean, can become a cat!
                    <br>
                </span>
            </p>
            <p><br></p>
            <p><br></p>

            <p style="text-align: center;">
                <img src="../../img/people.png" alt="人像" style="width: 300px; height: 297px;">
            </p>
            <p style="text-align: center;">
                <strong>
                    <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px;">tba</span>
                </strong>
                <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px;">,&nbsp;Hogwarts School of Witchcraft and Wizardry</span>
            </p>
            <p><br></p>
            <p style="line-height: 1.75em; margin-bottom: 10px;">
                <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px;">
                    Gryffindor, courage is supreme, our dean, can become a cat!
                    <br>
                </span>
            </p>
            <p style="line-height: 1.75em; margin-bottom: 10px;">
                <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px;">
                    Gryffindor, courage is supreme, our dean, can become a cat!
                    <br>
                </span>
            </p>
        </div>
    </div>
    <!-- 发送页面大小 -->
    <script>
        const body = document.body;
        const observer = new MutationObserver(mutationsList => {
            const currentHight = window.getComputedStyle(body, null).height;
            console.log(currentHight)
            top.postMessage(currentHight, "*");
        });

        observer.observe(body, {
            attributes: true,
            childList: true,
            subtree: true
        });
    </script>
</body>
</html>